*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(25, 15, 68);
    color: #fff;
    height: 70px;
    line-height: 70px;
}
.choice {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.choice:hover {
    cursor: pointer;
    background-color: #081b31;
    

}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 70px;
    
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 4rem;
    gap: 4rem;
}
#user-score, #comp-score {
    font-size: 3rem;
}
.msg-container {
    margin-top: 5rem;
}


#msg {
  
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    



}